@using RestaurantReviews.Models;
@using RestaurantReviews.Helpers;
@model RestaurantViewModel

@{
    ViewBag.Title = "Restaurants";
}

<script src="/Scripts/view/restaurant.js" type="text/javascript"></script>

<h2>Restaurants</h2>

<div>
    <button id="btn_Add" class="btn btn-lg">Add Restaurant</button>
</div>

<div style="margin-top:20px;">
    Search Restaurants by City.  City must be an exact match.
    You can update a Restaurant if you are the user that added it.
</div>

<div style="float:left; margin-top:20px;">
    City:
    &nbsp;
    <input id="txt_City" type="text" value="@(Model.City ?? "")" />
    &nbsp;
    <button id="btn_Search" class="btn">Search</button>
    <button id="btn_Clear" class="btn">Clear</button>
</div>

@if (Model.Restaurants.Count > 0)
{
    <div id="div_Restaurants" style="clear:both; margin-top:80px;">
        <table id="tbl_Restaurants" style="width:75%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Added By</th>
                    <th>City</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RestaurantInfoModel restaurant in Model.Restaurants)
                {
                    <tr>
                        <td style="width:150px;" class="link" data-id="@restaurant.ID">@restaurant.Name</td>
                        <td style="width:150px;">@restaurant.UserDisplayName</td>
                        <td style="width:150px;">@restaurant.City</td>
                        <td>@restaurant.Description</td>
                        <td style="width:100px;">
                            @if (restaurant.UserID == SessionHelper.UserID)
                            {
                                <select data-actions="1" data-id="@restaurant.ID">
                                    <option value="0" selected="selected">Actions</option>
                                    <option value="Update">Update</option>
                                </select>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div style="clear:both; margin-top:80px;">
        There are no Restaurants matching the search criteria.
    </div>
}
